-
  const listItems = [
      {
        title: "Меньше 3 месяцев",
        color: "maya-blue",
        subItems: [
          {
            title: "3000 баллов «X5 Клуба»",
            description: "Меньше 3 месяцев",
            icon: "x5",
            infoIcon: "false",
            infoSpan: "true",
            spanText: "300 призов",
            image: "offer-x5-1",
          },
        ]
      },
      {
        title: "От 3 до 6 месяцев",
        color: "maya-blue",
        subItems: [
          {
            title: "Чайники",
            description: "От 3 до 6 месяцев",
            icon: "citylink",
            infoIcon: "true",
            infoSpan: "false",
            spanText: "",
            image: "kettle",
          },
          {
            title: "3000 баллов «X5 Клуба»",
            description: "От 3 до 6 месяцев",
            icon: "citylink",
            infoIcon: "true",
            infoSpan: "false",
            spanText: "",
            image: "offer-x5-2",
          },
        ]
      },
    ]

mixin prize-draw()
  section.prize-draw
    .container
      h2
        | Разыгрываем каждую среду
      ul.prize-draw__list
        each item in listItems
          li.prize-draw__item
            h3= item.title
            ul.prize-draw__sub-list
              each subItem in item.subItems
                li.prize-draw__sub-item
                  header.prize-draw__sub-header
                    if subItem.infoIcon === "false"
                      +icon("x5", 28, 24)
                      span= subItem.spanText
                    else
                      +icon(subItem.icon, 104, 24)
                      +icon("info", 24, 24)
                  h4= subItem.title
                  p= subItem.description
                  +img("content/prize-draw", `${subItem.image}`, "png", 156, 204, "")
