-
  const prizeDrawWednesday = {
    title: "Разыгрываем каждую среду",
    list: [
      {
        title: "Меньше 3&nbsp;месяцев",
        titleColor: "viking",
        subItems: [
          {
            backgroundColor: "conifer",
            title: "3000 баллов «X5&nbsp;Клуба»",
            description: "Меньше 3 месяцев",
            icon: "x5",
            infoIcon: "false",
            infoSpan: "true",
            spanText: "300 призов",
            spanColor: "limeade",
            image: "offer-x5-1",
          },
        ]
      },
      {
        title: "От 3 до 6 месяцев",
        titleColor: "picton-blue",
        subItems: [
          {
            backgroundColor: "mint-tulip",
            title: "Чайники",
            description: "От 3 до 6 месяцев",
            icon: "citylink",
            infoIcon: "true",
            infoSpan: "false",
            spanText: "",
            image: "kettle",
          },
          {
            backgroundColor: "pale-turquoise",
            title: "3000 баллов «X5&nbsp;Клуба»",
            description: "От 3 до 6 месяцев",
            icon: "x5",
            infoIcon: "false",
            infoSpan: "true",
            spanText: "300 призов",
            spanColor: "pelorous",
            image: "offer-x5-2",
          },
        ]
      },
      {
        title: "Больше 6&nbsp;месяцев",
        titleColor: "picton-blue",
        subItems: [
          {
            backgroundColor: "fog",
            title: "Яндекс Станции Мини",
            description: "Больше<br>6 месяцев",
            icon: "citylink",
            infoIcon: "true",
            infoSpan: "false",
            spanText: "",
            image: "speaker",
          },
          {
            backgroundColor: "columbia-blue",
            title: "3000 баллов «X5&nbsp;Клуба»",
            description: "Больше 6 месяцев",
            icon: "x5",
            infoIcon: "false",
            infoSpan: "true",
            spanText: "300 призов",
            spanColor: "picton-blue-2",
            image: "offer-x5-3",
          },
        ]
      },
    ]
  }

  const prizeDrawSeptember = {
    title: "Разыгрываем в сентябре",
    list: [
      {
        title: "От 3 до 6 месяцев",
        titleColor: "viking",
        subItems: [
          {
            backgroundColor: "classic-rose",
            title: "Телевизоры 65”",
            description: "От 3 до 6<br>месяцев",
            icon: "citylink",
            infoIcon: "true",
            infoSpan: "false",
            spanText: "",
            spanColor: "",
            image: "tv",
          },
          {
            backgroundColor: "pale-turquoise",
            title: "3000 баллов «X5&nbsp;Клуба»",
            description: "От 3 до 6 месяцев",
            icon: "x5",
            infoIcon: "false",
            infoSpan: "true",
            spanText: "300 призов",
            spanColor: "pelorous",
            image: "offer-x5-2",
          },
        ]
      },
      {
        title: "От 3 до 6 месяцев",
        titleColor: "picton-blue",
        subItems: [
          {
            backgroundColor: "lavender-blue",
            title: "Пылесосы",
            description: "Больше 6 месяцев",
            icon: "citylink",
            infoIcon: "true",
            infoSpan: "false",
            spanText: "",
            image: "hoover",
          },
          {
            backgroundColor: "columbia-blue",
            title: "3000 баллов «X5&nbsp;Клуба»",
            description: "Больше 6 месяцев",
            icon: "x5",
            infoIcon: "false",
            infoSpan: "true",
            spanText: "300 призов",
            spanColor: "picton-blue-2",
            image: "offer-x5-3",
          },
        ]
      },
    ]
  }

//- Список карточек.

mixin prize-draw-list(listItems)
  ul.prize-draw__list
    each item in listItems
      li.prize-draw__item(class=`${item.titleColor ? `prize-draw__item--title-${item.titleColor}` : ""}`)
        h3!= item.title
        ul.prize-draw__sub-list
          each subItem in item.subItems
            li.prize-draw__sub-item(class=`${subItem.backgroundColor ? `prize-draw__sub-item--bc-${subItem.backgroundColor}` : ""}`)
              if subItem.infoIcon === "false"
                header.prize-draw__sub-header(class=`prize-draw__sub-header--short-icon${subItem.spanColor ? ` prize-draw__sub-header--span-color-${subItem.spanColor}` : ""}`)
                  +icon("x5", 28, 24)
                  span= subItem.spanText
              else
                header.prize-draw__sub-header(class=`prize-draw__sub-header--long-icon`)
                  +icon(subItem.icon, 104, 24)
                  +icon("info", 24, 24)
              h4!= subItem.title
              p!= subItem.description
              +img("content/prize-draw", `${subItem.image}`, "png", 156, 204, "")

mixin prize-draw()
  section.prize-draw
    .container
      h2=prizeDrawWednesday.title
      +prize-draw-list(prizeDrawWednesday.list)
