//- Пример данных
//- -
//-   const prizeDrawExample = {
//-     animationTitleName: 'fadeInPrizeDrawTitleWednesday',
//-     animationItemsName: 'fadeScalePrizeDrawItemsWednesday',
//-     blockTitle: "Разыгрываем в&nbsp;сентябре",
//-     list: [
//-       {
//-         itemTitle: "От 3 до 6 месяцев",
//-         titleColor: "viking",
//-         subItems: [
//-           {
//-             backgroundColor: "classic-rose",
//-             subItemTitle: "Телевизоры 65”",
//-             description: "От 3 до 6<br>месяцев",
//-             icon: "citylink",
//-             infoIcon: "true",
//-             infoSpan: "false",
//-             spanText: "",
//-             spanColor: "",
//-             image: "tv",
//-           },
//-         ]
//-       },
//-     ]
//-   }

//- Необходимо добавить цвета в prize-draw.scss для: titleColor, backgroundColor, spanColor.
//- Можно найти по ключевым словам.

mixin prize-draw(data, modClass="")
  section.prize-draw(class=modClass, data-animate-prize-draw-title=data.animationTitleName, data-animate-prize-draw-item=data.animationItemsName)
    .container
      h2(data-animate-prize-draw-title)!= data.blockTitle
      ul.prize-draw__list
        each item in data.list
          li.prize-draw__item(class=`${item.titleColor ? `prize-draw__item--title-${item.titleColor}` : ""}`)
            h3!= item.itemTitle
            if item.subItems.length !== 1
              .swiper.mySwiper
                ul.prize-draw__sub-list.prize-draw__sub-list--multiple-items.swiper-wrapper
                  each subItem in item.subItems
                    li.prize-draw__sub-item(class=`swiper-slide ${subItem.backgroundColor ? `prize-draw__sub-item--bc-${subItem.backgroundColor}` : ""}`, data-animate-prize-draw-item)
                      if subItem.infoIcon === "false"
                        header.prize-draw__sub-header(class=`prize-draw__sub-header--short-icon${subItem.spanColor ? ` prize-draw__sub-header--span-color-${subItem.spanColor}` : ""}`, data-animate-prize-draw-item)
                          +icon("x5", 28, 24)
                          span= subItem.spanText
                      else
                        header.prize-draw__sub-header(class=`prize-draw__sub-header--long-icon`, data-animate-prize-draw-item)
                          +icon(subItem.icon, 104, 24)
                          +icon("info", 24, 24)
                      h4(data-animate-prize-draw-item)!= subItem.subItemTitle
                      p(data-animate-prize-draw-item)!= subItem.description
                      +img("content/prize-draw", `${subItem.image}`, "png", 156, 204, "", data-animate-prize-draw-item)
                  each subItem in item.subItems
                    li.prize-draw__sub-item(class=`swiper-slide ${subItem.backgroundColor ? `prize-draw__sub-item--bc-${subItem.backgroundColor}` : ""}`, data-animate-prize-draw-item)
                      if subItem.infoIcon === "false"
                        header.prize-draw__sub-header(class=`prize-draw__sub-header--short-icon${subItem.spanColor ? ` prize-draw__sub-header--span-color-${subItem.spanColor}` : ""}`, data-animate-prize-draw-item)
                          +icon("x5", 28, 24)
                          span= subItem.spanText
                      else
                        header.prize-draw__sub-header(class=`prize-draw__sub-header--long-icon`, data-animate-prize-draw-item)
                          +icon(subItem.icon, 104, 24)
                          +icon("info", 24, 24)
                      h4(data-animate-prize-draw-item)!= subItem.subItemTitle
                      p(data-animate-prize-draw-item)!= subItem.description
                      +img("content/prize-draw", `${subItem.image}`, "png", 156, 204, "", data-animate-prize-draw-item)
            else
              ul.prize-draw__sub-list.prize-draw__sub-list--single-item
                each subItem in item.subItems
                  li.prize-draw__sub-item(class=`${subItem.backgroundColor ? `prize-draw__sub-item--bc-${subItem.backgroundColor}` : ""}`, data-animate-prize-draw-item)
                    if subItem.infoIcon === "false"
                      header.prize-draw__sub-header(class=`prize-draw__sub-header--short-icon${subItem.spanColor ? ` prize-draw__sub-header--span-color-${subItem.spanColor}` : ""}`, data-animate-prize-draw-item)
                        +icon("x5", 28, 24)
                        span= subItem.spanText
                    else
                      header.prize-draw__sub-header(class=`prize-draw__sub-header--long-icon`, data-animate-prize-draw-item)
                        +icon(subItem.icon, 104, 24)
                        +icon("info", 24, 24)
                    h4(data-animate-prize-draw-item)!= subItem.subItemTitle
                    p(data-animate-prize-draw-item)!= subItem.description
                    +img("content/prize-draw", `${subItem.image}`, "png", 156, 204, "", data-animate-prize-draw-item)
