//- Пример данных
//- -
//-   const prizeDrawExample = {
//-     animationTitleName: 'fadeInPrizeDrawTitleWednesday',
//-     animationItemsName: 'fadeScalePrizeDrawItemsWednesday',
//-     blockTitle: "Разыгрываем в&nbsp;сентябре",
//-     list: [
//-       {
//-         itemTitle: "От 3 до 6 месяцев",
//-         titleColor: "viking",
//-         subItems: [
//-           {
//-             backgroundColor: "classic-rose",
//-             subItemTitle: "Телевизоры 65”",
//-             description: "От 3 до 6<br>месяцев",
//-             icon: "citylink",
//-             infoIcon: "true",
//-             infoSpan: "false",
//-             spanText: "",
//-             spanColor: "",
//-             image: {
//-               src: "offer-x5-1",
//-               width: "106",
//-               height: "102",
//-             }
//-           },
//-         ]
//-       },
//-     ]
//-   }

//- Необходимо добавить цвета в prize-draw.scss для: titleColor, backgroundColor, spanColor.
//- Можно найти по ключевым словам.

mixin prize-draw-sub-item(itemData)
  if itemData.infoIcon === "false"
    header.prize-draw__sub-header(class=`prize-draw__sub-header--short-icon${itemData.spanColor ? ` prize-draw__sub-header--span-color-${itemData.spanColor}` : ""}`, data-animate-prize-draw-item)
      +icon("x5", 28, 24)
      span= itemData.spanText
  else
    header.prize-draw__sub-header(class=`prize-draw__sub-header--long-icon`, data-animate-prize-draw-item)
      +icon(itemData.icon, 104, 24)
      +icon("info", 24, 24)
  h4(data-animate-prize-draw-item)!= itemData.subItemTitle
  p(data-animate-prize-draw-item)!= itemData.description
  +img("content/prize-draw", `${itemData.image.src}`, "png", itemData.image.width, itemData.image.height, "", data-animate-prize-draw-item)

mixin prize-draw(data, modClass="")
  section.prize-draw(class=modClass, data-animate-prize-draw-title=data.animationTitleName, data-animate-prize-draw-item=data.animationItemsName)
    .container
      h2(data-animate-prize-draw-title)!= data.blockTitle
      ul.prize-draw__list
        each item in data.list
          li.prize-draw__item(class=`${item.titleColor ? `prize-draw__item--title-${item.titleColor}` : ""}`)
            h3!= item.itemTitle
            if item.subItems.length !== 1
              .swiper.prize-draw__swiper
                ul.prize-draw__sub-list.prize-draw__sub-list--multiple-items.swiper-wrapper
                  each subItem in item.subItems
                    li.prize-draw__sub-item(class=`swiper-slide ${subItem.backgroundColor ? `prize-draw__sub-item--bc-${subItem.backgroundColor}` : ""}`, data-animate-prize-draw-item)
                      +prize-draw-sub-item(subItem)
            else
              ul.prize-draw__sub-list.prize-draw__sub-list--single-item
                each subItem in item.subItems
                  li.prize-draw__sub-item(class=`${subItem.backgroundColor ? `prize-draw__sub-item--bc-${subItem.backgroundColor}` : ""}`, data-animate-prize-draw-item)
                    +prize-draw-sub-item(subItem)
